<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h2>로그인 페이지</h2>
<form th:action="@{/login}" method="post">
    <div>
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
    &lt;input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"&gt;
    </div>
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${logoutMessage}" style="color: green;">
        <p th:text="${logoutMessage}"></p>
    </div>
    <label for="email">아이디:</label>
    <input type="text" id="email" name="email" required />
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required />
    <input type="checkbox" name="remember-me">로그인 유지
    <button type="submit">로그인</button>
</form>
<h3>소셜 로그인</h3>
<!-- Google 로그인 -->
<a href="/oauth2/authorization/google">Google 로그인</a>

<!-- Facebook 로그인 -->
<a href="/oauth2/authorization/facebook">Facebook 로그인</a>

<!-- GitHub 로그인 -->
<a href="/oauth2/authorization/github">GitHub 로그인</a>


<script>
    const token = $("meta[name='_csrf']").attr("content")
    const header = $("meta[name='_csrf_header']").attr("content");
    const name = $("#userName").val();

    $.ajax({
        //추가해야 하는 부분
        beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
        }
    });
</script>
</body>
</html>